<div class="skills-container" *ngIf="techStack.viewSkillBars">
  <h1 class="skills-heading">Proficiency</h1>

  <!-- Skills Grid -->
  <div class="skills-grid">
    <div class="skill" *ngFor="let exp of techStack.experience">
      <p>{{ exp.Stack }}</p>
      <div class="meter">
        <span [style]="progressStyle(exp.progressPercentage)"></span>
      </div>
    </div>
  </div>

  <!-- <div class="animated-background">
    <div class="particle" style="top: 10%; left: 15%; animation-delay: 0s;"></div>
    <div class="particle" style="top: 25%; left: 40%; animation-delay: 1s;"></div>
    <div class="particle" style="top: 50%; left: 70%; animation-delay: 2s;"></div>
    <div class="particle" style="top: 75%; left: 20%; animation-delay: 3s;"></div>
    <div class="particle" style="top: 85%; left: 90%; animation-delay: 4s;"></div>
  </div> -->
  
